div {
  /* border: solid 1px black; */
  /* background-color: aqua; */
  /* background-color: #ffe674; */
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* ----------------------------상단 바------------------------------ */
#nav {
  text-align: center;
  height: 50px;
}
#nav > div {
  display: flex;
  justify-content: space-between;
}
#nav > div li {
  margin: auto;
  float: left;
  padding: 0 30px;
  line-height: 80px;
}

.nav {
  padding: 10px 20px;
}

#icon {
  width: 35px;
  height: 30px;
}

#icon > img {
  width: 35px;
  height: 30px;
}

#icon > img:hover {
  cursor: pointer;
}

.logo a {
  all: unset;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.empty {
  width: 90%;
}

.frame {
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #999;
  margin-top: 3%;
}

/* ----------------------------콘텐츠 박스---------------------------- */
.item_design {
  border: solid 5px #151757;
  opacity: 90%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  word-break: break-all;
}

/* ----------------------------카테고리---------------------------- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #151757;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#cate_title {
  font-size: 30px;
  color: #ffe674;
  padding: 10px 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #ffe674;
  color: #151757;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #d9d9d9;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.add_btn {
  position: absolute;
  width: 75%;
  height: 70px;

  left: 12.31%;
  right: 12.31%;
  top: 85.23%;
  bottom: 25%;

  background-color: #ffd100;
  border: 1px solid #151757;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  color: #151757;

  cursor: pointer;
}

/* ----------------------------마이페이지 드롭다운---------------------------- */

.select {
  position: absolute;
  top: 5.5%;
  right: 1.5%;
  width: 180px;
  height: 120px;
  border: solid 3px #d9d9d9;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
}

.select ul {
  width: 180px;
  height: 120px;
  margin: 0;
  padding: 15px 0px;
  text-align: center;
}

.select div {
  width: 160px;
  height: 20px;
  position: relative;
  font-size: 20px;
  margin: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #d9d9d9;
  font-weight: 540;
}

.select div:hover {
  color: #151757;
}

/* ----------------------------로그인창---------------------------- */
#container {
  border: solid 1px black;
  border-radius: 20px;

  position: absolute;
  width: 40%;
  height: 70%;
  left: 30%;
  top: 15%;
}

.box {
  border: solid 1px black;
  border-radius: 20px;

  position: absolute;
  width: 50%;
  height: 70%;
  left: 20%;
  top: 10%;

  padding: 40px;
}

.top_margin {
  margin-top: 20px;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
}

.center {
  justify-content: center;
}

.flex_row a {
  margin-right: 5px;
}

.box input {
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input::placeholder {
  font-size: 20px;
}

.box button {
  height: 50px;
  background: #151757;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.empty_login {
  height: 70px;
}

.google {
  margin-top: 40px;
}

/* ----------------------------회원가입창---------------------------- */

.letter {
  text-align: center;
}

/* ----------------------------콘텐츠창---------------------------- */
.out_box {
  align-items: center;
  padding: 100px;
  border: solid 3px #d9d9d9;
}

.in_box {
  align-items: center;
  padding: 50px;
  border: solid 3px #d9d9d9;
  overflow: hidden;
  height: auto;
}
